@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
//ajout de la police + des differente graisseur au site

.App{
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
    h1,h2,h3,h4,h5,strong{
        font-weight: 600;
    }
    h1{
        font-size: 4em;
    }
    h2{
            font-size: 3em;
    }

//effect liens navBar
}
.nav-link{
  color: white;
    &:hover{
    text-decoration: underline;
  }
    &.active{
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 2px 2px 4px white;
  }
}

//effect liens icons reseaux sociaux
.iconReseau{
    color: white;
    opacity: 0.3;

    &:hover{
        opacity: 1;
    }
}

//background image page home 
#heroBg{
background-image: url(/public/image/hero-bg.jpg);
min-height: 60vh;
background-size: cover;
background-position: center;
}

//couleur icon page services
.iconBlue{
    color:var(--bs-primary);
}

//effect liens footer
.footerLink{
    text-decoration: none;
    color: white;
        
        &:hover{
            font-weight: bolder;
    }
}


//effect des card bootstrap et effect bouton
.cardCustom:hover{
    background-color: #efefef;
    box-shadow: 0 0 5px black;
}

.buttonCustom:hover{
        filter: brightness(1.5);
}
